<<<<<<< HEAD
body {
    display: flex;
=======

body {
    display: flex;
    flex-direction: column;
>>>>>>> 740286d4ba75e283cab9822ab06a28be68d8336d
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
<<<<<<< HEAD
    background-image: url('Wallpapers.jpeg'); /* Chemin vers l'image */
    background-size: cover; /* L'image couvre l'écran */
    background-position: center; /* L'image est centrée */
    background-repeat: no-repeat; /* L'image ne se répète pas */
    background-attachment: fixed; /* L'image reste fixe lors du défilement */
}

.square-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    backdrop-filter: blur(5px);
    border: 2px solid #ccc;
    box-shadow: 0 4px 8px rgb(253, 253, 253);
    border-radius: 10px;
=======
    background-color: #f0f0f0;
>>>>>>> 740286d4ba75e283cab9822ab06a28be68d8336d
}

.color-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
<<<<<<< HEAD
    background-color: rgb(255, 255, 255);
=======
    background-color: rgb(0, 0, 0);
>>>>>>> 740286d4ba75e283cab9822ab06a28be68d8336d
    margin-bottom: 20px;
}

.slider-container {
    display: flex;
    align-items: center;
    margin: 10px;
}

.slider {
    margin-left: 10px;
<<<<<<< HEAD
    width: 150px;
=======
    width: 150px; /* Ajout d'une largeur pour les sliders */
>>>>>>> 740286d4ba75e283cab9822ab06a28be68d8336d
}

.value {
    margin-left: 10px;
    font-weight: bold;
<<<<<<< HEAD
}

label {
    color: white; /* Rend les labels R, G, B blancs */
    font-weight: bold;
}

.value {
    color: white; /* Rend les valeurs 0-255 blanches */
    margin-left: 10px;
    font-weight: bold;
}

button {
    background-color: rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255); /* Couleur du texte */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}

button:hover {
    text-decoration: underline;
}
=======
}
>>>>>>> 740286d4ba75e283cab9822ab06a28be68d8336d
